@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e3f0ff;
    min-height: 100%;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav .menu-icon{
    cursor: pointer;
    display: none;
}

nav .logo a{
    font-size: 40px;
    font-weight: bold;
    color: #434C74;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 0 15px;
}

nav ul li a{
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
    color: #434C74;
}

nav ul button{
    border: none;
    background-color: #CE508F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;   
}

main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-bx{
    width: 40%;
}

.text-bx h1{
    font-size: 3rem;
    text-transform: uppercase;
}

.text-bx h1 strong{
    color: #CE508F;
}

.text-bx p{
    color: #434C74;
    font-weight: 400;
    margin-top: 20px;
}

.text-bx .input-bx{
    margin: 20px 0;
    display: flex;

}

.text-bx .input-bx input{
    width: 60%;
    display: block;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    color: #434C74;
    font-size: 16px;
}

.text-bx .input-bx input::placeholder{
    color: #434C74;
}

.text-bx .input-bx button{
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #434C74;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.medias-sociais{
    margin-top: 30px;
}

.medias-sociais a{
    text-decoration: none;
}

.medias-sociais i{
    width: 40px;
    height: 40px;
    font-size: 28px;
    margin: 0 3px;
    color: #fff;
    background-color: #434C74;
    padding: 7px;
    border-radius: 5px;
}

.img-bx{
    width: 60%;
}

.img-bx img{
    width: 100%;
    transition: 1s ease-in-out;
}

footer{
    display: flex;
    background-color: #434C74;
    justify-content: center;
    width: 100%;
}

.foot-tx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-tx ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 55px;
}

.foot-tx ul li{
    margin: 10px 15px;
    list-style: none;
    color: #fff;
}

.foot-tx ul li a{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 970px) {
    nav .menu-icon{
        display: block;
    }

    nav ul {
        position: fixed;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate(-100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.2s ease-in;
        background-color: #434C74;
    }

    nav ul.active{
        transform: translateX(0);
    }

    nav ul li{
        padding: 10px;
        border-bottom: 1px solid #fff;
    }

    nav ul li a{
       font-size: 18px;
       color: #fff; 
    }

    nav ul button{
        background-color: #CE508F;
        font-size: 18px;
        margin: 10px;
    }

    main{
        flex-direction: column;
    }

    .text-bx, .img-bx{
        width: 100%;
        text-align: center;
    }

    .text-bx{
        margin-bottom: 40px;
    }

    .text-bx .input-bx{
        justify-content: center;
    }

    .foot-tx ul{
        flex-direction: column;
    }
}