@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e3f0ff;
    min-height: 100%;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav .menu-icon{
    cursor: pointer;
    display: none;
}

nav .logo a img{
    width: 90px;
    transform: translateY(5%);
}

nav .logo a strong{
    margin-top: 25px;
}

nav .logo a b{
    margin-top: 60px;
    color: #fc8b0a;
}

nav .logo a{
    display: flex;
    font-size: 40px;
    font-weight: bold;
    color: #434C74;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 0 15px;
}

nav ul li a{
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
    color: #434C74;
}

nav ul li #logoNav{
    display: none;
}

nav ul button{
    border: none;
    background-color: #fc8b0a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

nav ul button:hover{
    background-color: #434C74;
}

main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-bx{
    width: 40%;
}

.text-bx h1{
    font-size: 3rem;
    text-transform: uppercase;
}

.text-bx h1 strong{
    color: #fc8b0a;
}

.text-bx p{
    color: #434C74;
    font-weight: 400;
    margin-top: 20px;
}

.text-bx .input-bx{
    margin: 20px 0;
    display: flex;

}

.text-bx .input-bx a{
    padding: 0px 0px 0px 2px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: #434C74;
}

.text-bx .input-bx input::placeholder{
    color: #434C74;
}

.text-bx .input-bx button{
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #434C74;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.medias-sociais{
    margin-top: 30px;
    display: flex;
    justify-content: left;
}

.medias-sociais a{
    text-decoration: none;
}

.medias-sociais i{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    font-size: 28px;
    margin: 0 3px;
    color: #fff;
    background-color: #434C74;
    padding: 7px;
    border-radius: 5px;
    transition: 0.2s ease-in;
}

.medias-sociais i:hover{
    background-color: #fc8b0a;
}

.img-bx{
    width: 60%;
}

.img-bx img{
    width: 100%;
    transition: 1s ease-in-out;
}

footer{
    display: flex;
    background-color: #434C74;
    justify-content: center;
    width: 100%;
    margin-top: 7.2vh;
}

.foot-tx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-tx ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 55px;
}

.foot-tx ul li{
    margin: 10px 15px;
    list-style: none;
    color: #fff;
}

.foot-tx ul li a{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 970px) {
    nav .menu-icon{
        display: block;
    }

    nav ul {
        position: fixed;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate(-100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.2s ease-in;
        background-color: #434C74;
    }

    nav ul.active{
        transform: translateX(0);
    }

    nav ul li{
        padding: 10px;
        border-bottom: 1px solid #fff;
    }

    nav ul li a{
       font-size: 18px;
       color: #fff;
    }

    nav ul li #logoNav{
        display: flex;
        border: 2px solid #fff;
        border-radius: 250px;
        width: 200px;
        height: 200px;
    }

    nav ul li #logoNav img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 70px;
        margin: 60px 15px;
    }

    nav ul li #logoNov p strong{
        margin-top: 90px;
        color: #fc8b0a;
    }

    nav ul li #logoNav b{
        margin-top: 40px;
    }

    nav ul button{
        background-color: #fc8b0a;
        font-size: 18px;
        margin: 10px;
    }

    main{
        flex-direction: column;
    }

    .text-bx, .img-bx{
        width: 100%;
        text-align: center;
    }

    .text-bx{
        margin-bottom: 40px;
    }

    .text-bx .input-bx{
        justify-content: center;
    }

    .medias-sociais{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .foot-tx ul{
        flex-direction: column;
    }
}